.contact-wrapper{
    position: relative;
}
.contact-us{
    min-height: 400px;
    padding: 120px;
    background-color: #25262a;
    margin: 80px;
    border-radius: 20px;
    position: relative;
    z-index: 100;
   
   
}
.contact-circle1{
    width: 400px;
   height: 400px;
   left: 0;
    background-color: yellowgreen;
    position: absolute;
   clip-path: circle(50% at 0 0);
    z-index: 100;
}
.contact-circle2{
    width: 150px;
   height: 150px;
   border-radius: 50%;
   right: 15px;
   bottom: -60px;
    background-color: rgb(102, 213, 71);
    position: absolute;
 
    z-index: 1;
}
